.header_top_wrapper,
.tickerfloat_wrapper {
    background-color: #4A148C !important;
    border-bottom: 1px solid #fff;
}

.feature-post-list .feature-post-title,
.box-1 .inside h3 {
    font-weight: bold;
    font-size: 14px;
}

.image-post-title,
.caption_overlay_posts a h3,
.caption_overlay_posts a,
.wrap_box_style_main .image-post-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: -5px;
}

ul.tabs li a,
ul.tabs1 li a,
ul.hover_tab_post_large li a,
.grid_header_home .item_slide_caption h1 {
    font-weight: 800;
}

.sub-post-image-slider .item_slide_caption h1 a,
.menu_post_feature .feature-post-title a {
    font-weight: bold;
    font-size: 14px !important;
}

.owl_slider .item_slide_caption h1,
#ticker a.ticker_title,
.single-post-title.heading_post_title,
.author-info .author-description h5,
#nextpost,
#prepost,
.review_header span {
    font-weight: bold;
}

.main-post-image-slider .item_slide_caption h1 a,
.shortcode_slider h1 {
    line-height: 1.56;
    letter-spacing: -1px;
}

.full-width-slider .item_slide_caption h1 a {
    letter-spacing: -1px;
    padding-bottom: 5px;
}

.item_slide_caption .post-meta.meta-main-img {
    margin-bottom: 2px;
}

.categories-title.title,
.page-title,
.single_post_title {
    letter-spacing: -1px;
}

.comments-area .comments-title,
.comment-respond .comment-reply-title {
    font-weight: bold;
    letter-spacing: -1px;
}

.pagination-more-grid div a,
.pagination-more div a,
#pageslide a {
    font-weight: 800;
}

.pagination,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.post_content h1,
.post_content h2,
.post_content h3,
.post_content h4,
.post_content h5,
.post_content h6,
.bbp-forum-title {
    font-weight: bold;
}

.grid.caption_header,
#sidebar table thead,
.footer_carousel .link-more:hover,
footer table thead,
.tagcloud a:hover,
.tag-cat a:hover,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-current,
.pagination .current.box,
.pagination>a:hover,
.pagination>span:hover,
.pagination>span,
.score-review span,
.review_bar-content,
.total_review_bar-content,
.btn.default,
.meta-category i,
.footer_carousel:hover .link-more,
.meta-category-slider a,
.meta-category-slider i,
.score-review-small,
.btn.default.read_more:hover,
html ul.tabs1 li.active,
html ul.tabs1 li.active a,
html ul.tabs1 li.active a:hover,
html ul.hover_tab_post_large li.active,
html ul.hover_tab_post_large li.active a,
html ul.hover_tab_post_large li.active a:hover,
.pagination-more div a:hover,
.pagination-more-grid div a:hover,
.tag-cat .tag_title,
table thead,
#commentform #submit:hover,
.wpcf7-submit:hover,
.post-password-form input[type="submit"]:hover,
.single_post_title .meta-category-small a,
.theme_header_style_7 .menu_wrapper,
.home_page_fullscreen_slider .personal_slider_meta_category a {
    background-color: #f5f5f5 !important;
}

.meta-category-small a,
.email_subscribe_box .buttons {
    background-color: #005F92;
}

.main-post-image-slider .item_slide_caption h1 a,
.shortcode_slider h1,
.main-post-image-slider .item_slide_caption h1 a,
.builder_slider .item_slide_caption h1 a,
.full-width-slider .item_slide_caption h1 a {
    box-shadow: 5px 0 0 rgba(218, 16, 16, 0.8), -5px 0 0 rgba(218, 16, 16, 0.8);
    background-color: #005F92;
    background-color: rgba(218, 16, 16, 0.8);
}

#prepost:hover,
#nextpost:hover,
#prepost:hover,
.btn.default:hover,
.footer_carousel:hover .read_more_footer,
.tickerfloat i,
.btn.default.read_more {
    color: #005F92 !important;
}

.btn.default:hover,
.btn.default.read_more {
    border: 1px solid #005F92;
    background: none !important;
}

ul.tabs,
ul.tabs1,
ul.hover_tab_post_large,
h3.widget-title span {
    border-top: 2px solid #c0c0c0;
}

.woocommerce ul.products li.product .star-rating span,
.woocommerce ul.products li.product .star-rating span {
    color: #005F92;
}

.woocommerce.widget .ui-slider .ui-slider-handle,
.woocommerce .product .onsale {
    background: none #005F92;
}

.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce-page .widget_price_filter .price_slider_amount .button:hover,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #content div.product form.cart .button:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce-page #content div.product form.cart .button:hover,
.woocommerce-page div.product form.cart .button:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
#searchsubmit:hover,
.woocommerce-product-search input[type="submit"]:hover,
.bbp-login-form .bbp-submit-wrapper .button:hover,
#bbp_search_submit:hover,
#bbp_topic_submit:hover,
.bbp-submit-wrapper .button:hover {
    background: #FEF305;
}

.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li a {
    background: #222;
}

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
    color: #005F92;
}

.widget-title,
h3.widget-title {
    border-bottom: 2px solid #c0c0c0;
}

.widget-title h2,
h3.widget-title span,
.carousel_post_home_wrapper .medium-two-columns:hover .image-post-title {
    background: #005F92;
    color: #fff;
}

.post_link_type .overlay_icon.fa {
    color: #005F92;
    border: 2px solid #005F92;
}

.post_link_type .link_type,
.post_link_type .link_type a {
    color: #005F92;
    border: 1px solid #005F92;
}

.post_link_type .overlay_icon.fa:hover,
.post_link_type .link_type a:hover {
    background: #005F92;
}

.meta_carousel_post,
html ul.tabs li.active a {
    background: #005F92;
}

.post_classic_display .large_post_share_icons li a:hover {
    background: #005F92;
    border: 1px solid #005F92;
}

.menu_post_feature ul.hover_tab_post_large li.active a,
.menu_post_feature ul.hover_tab_post_large li.active,
html ul.hover_tab_post_large li.active a:hover {
    background-color: #2C3242 !important;
}



.widget.color-1 .widget-title,
.widget .color-1 .widget-title {
    border-bottom-color: #D03131 !important;
}

.widget.color-1 h2,
.feature-two-column.color-1 .widget-title h2 {
    background: #D03131 url(img/border_title.png) no-repeat right !important;
}

.widget.color-2 .widget-title,
.widget .color-2 .widget-title {
    border-bottom-color: #b5371b !important;
}

.widget.color-2 h2,
.feature-two-column.color-2 .widget-title h2 {
    background: #b5371b url(img/border_title.png) no-repeat right !important;
}

.widget.color-3 .widget-title,
.widget .color-3 .widget-title {
    border-bottom-color: #00ad6a !important;
}

.widget.color-3 h2,
.feature-two-column.color-3 .widget-title h2 {
    background: #00ad6a url(img/border_title.png) no-repeat right !important;
}

.widget.color-4 .widget-title,
.widget .color-4 .widget-title {
    border-bottom-color: #a56d35 !important;
}

.widget.color-4 h2,
.feature-two-column.color-4 .widget-title h2 {
    background: #a56d35 url(img/border_title.png) no-repeat right !important;
}

.widget.color-5 .widget-title,
.widget .color-5 .widget-title {
    border-bottom-color: #ff4274 !important;
}

.widget.color-5 h2,
.feature-two-column.color-5 .widget-title h2 {
    background: #ff4274 url(img/border_title.png) no-repeat right !important;
}

.widget.color-6 .widget-title,
.widget .color-6 .widget-title {
    border-bottom-color: #10a89e !important;
}

.widget.color-6 h2,
.feature-two-column.color-6 .widget-title h2 {
    background: #10a89e url(img/border_title.png) no-repeat right !important;
}

.widget.color-7 .widget-title,
.widget .color-7 .widget-title {
    border-bottom-color: #7f42bf !important;
}

.widget.color-7 h2,
.feature-two-column.color-7 .widget-title h2 {
    background: #7f42bf url(img/border_title.png) no-repeat right !important;
}

.widget.color-8 .widget-title,
.widget .color-8 .widget-title {
    border-bottom-color: #f2540c !important;
}

.widget.color-8 h2,
.feature-two-column.color-8 .widget-title h2 {
    background: #f2540c url(img/border_title.png) no-repeat right !important;
}

.widget.color-9 .widget-title,
.widget .color-9 .widget-title {
    border-bottom-color: #348207 !important;
}

.widget.color-9 h2,
.feature-two-column.color-9 .widget-title h2 {
    background: #348207 url(img/border_title.png) no-repeat right !important;
}

.widget.color-10 .widget-title,
.widget .color-10 .widget-title {
    border-bottom-color: #c6a41b !important;
}

.widget.color-10 h2,
.feature-two-column.color-10 .widget-title h2 {
    background: #c6a41b url(img/border_title.png) no-repeat right !important;
}

.widget.color-11 .widget-title,
.widget .color-11 .widget-title {
    border-bottom-color: #aa17b5 !important;
}

.widget.color-11 h2,
.feature-two-column.color-11 .widget-title h2 {
    background: #aa17b5 url(img/border_title.png) no-repeat right !important;
}

.widget.color-12 .widget-title,
.widget .color-12 .widget-title {
    border-bottom-color: #3ebc18 !important;
}

.widget.color-12 h2,
.feature-two-column.color-12 .widget-title h2 {
    background: #3ebc18 url(img/border_title.png) no-repeat right !important;
}

.widget.color-13 .widget-title,
.widget .color-13 .widget-title {
    border-bottom-color: #9e5a11 !important;
}

.widget.color-13 h2,
.feature-two-column.color-13 .widget-title h2 {
    background: #9e5a11 url(img/border_title.png) no-repeat right !important;
}

.widget.color-14 .widget-title,
.widget .color-14 .widget-title {
    border-bottom-color: #128752 !important;
}

.widget.color-14 h2,
.feature-two-column.color-14 .widget-title h2 {
    background: #128752 url(img/border_title.png) no-repeat right !important;
}

.widget.color-15 .widget-title,
.widget .color-15 .widget-title {
    border-bottom-color: #a02c06 !important;
}

.widget.color-15 h2,
.feature-two-column.color-15 .widget-title h2 {
    background: #a02c06 url(img/border_title.png) no-repeat right !important;
}

.widget.color-16 .widget-title,
.widget .color-16 .widget-title {
    border-bottom-color: #501edb !important;
}

.widget.color-16 h2,
.feature-two-column.color-16 .widget-title h2 {
    background: #501edb url(img/border_title.png) no-repeat right !important;
}

.widget.color-17 .widget-title,
.widget .color-17 .widget-title {
    border-bottom-color: #ea2060 !important;
}

.widget.color-17 h2,
.feature-two-column.color-17 .widget-title h2 {
    background: #ea2060 url(img/border_title.png) no-repeat right !important;
}

#mainmenu li.color-1 .hover_tab_post_large,
#mainmenu li.current_page_item.color-1 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-1 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-1:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-1 {
    background-color: #485169 !important;
}

#mainmenu li.color-2 .hover_tab_post_large,
#mainmenu li.current_page_item.color-2 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-2 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-2:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-2 {
    background-color: #00ad6a !important;
}

#mainmenu li.color-3 .hover_tab_post_large,
#mainmenu li.current_page_item.color-3 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-3 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-3:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-3 {
    background-color: #b5371b !important;
}

#mainmenu li.color-4 .hover_tab_post_large,
#mainmenu li.current_page_item.color-4 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-4 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-4:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-4 {
    background-color: #a56d35 !important;
}

#mainmenu li.color-5 .hover_tab_post_large,
#mainmenu li.current_page_item.color-5 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-5 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-5:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-5 {
    background-color: #ff4274 !important;
}

#mainmenu li.color-6 .hover_tab_post_large,
#mainmenu li.current_page_item.color-6 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-6 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-6:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-6 {
    background-color: #10a89e !important;
}

#mainmenu li.color-7 .hover_tab_post_large,
#mainmenu li.current_page_item.color-7 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-7 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-7:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-7 {
    background-color: #7f42bf !important;
}

#mainmenu li.color-8 .hover_tab_post_large,
#mainmenu li.current_page_item.color-8 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-8 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-8:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-8 {
    background-color: #f2540c !important;
}

#mainmenu li.color-9 .hover_tab_post_large,
#mainmenu li.current_page_item.color-9 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-9 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-9:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-9 {
    background-color: #348207 !important;
}

#mainmenu li.color-10 .hover_tab_post_large,
#mainmenu li.current_page_item.color-10 .hover_tab_post_large,
#mainmenu li.current-menu-item.color-10 .hover_tab_post_large,
#menu a.current .hover_tab_post_large,
#mainmenu li.color-10:hover .hover_tab_post_large,
#mainmenu li.sfHover.color-10 {
    background-color: #c6a41b !important;
}

#mainmenu li.color-1.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-1>a,
#mainmenu li.current-menu-item.color-1>a,
#menu a.current,
#mainmenu>li.color-1:hover,
#mainmenu li.sfHover.color-1 {
    background-color: #485169 !important;
}

#mainmenu li.color-2.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-2>a,
#mainmenu li.current-menu-item.color-2>a,
#menu a.current,
#mainmenu>li.color-2:hover,
#mainmenu li.sfHover.color-2 {
    background-color: #00ad6a !important;
}

#mainmenu li.color-3.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-3>a,
#mainmenu li.current-menu-item.color-3>a,
#menu a.current,
#mainmenu>li.color-3:hover,
#mainmenu li.sfHover.color-3 {
    background-color: #b5371b !important;
}

#mainmenu li.color-4.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-4>a,
#mainmenu li.current-menu-item.color-4>a,
#menu a.current,
#mainmenu>li.color-4:hover,
#mainmenu li.sfHover.color-4 {
    background-color: #a56d35 !important;
}

#mainmenu li.color-5.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-5>a,
#mainmenu li.current-menu-item.color-5>a,
#menu a.current,
#mainmenu>li.color-5:hover,
#mainmenu li.sfHover.color-5 {
    background-color: #ff4274 !important;
}

#mainmenu li.color-6.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-6>a,
#mainmenu li.current-menu-item.color-6>a,
#menu a.current,
#mainmenu>li.color-6:hover,
#mainmenu li.sfHover.color-6 {
    background-color: #10a89e !important;
}

#mainmenu li.color-7.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-7>a,
#mainmenu li.current-menu-item.color-7>a,
#menu a.current,
#mainmenu>li.color-7:hover,
#mainmenu li.sfHover.color-7 {
    background-color: #7f42bf !important;
}

#mainmenu li.color-8.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-8>a,
#mainmenu li.current-menu-item.color-8>a,
#menu a.current,
#mainmenu>li.color-8:hover,
#mainmenu li.sfHover.color-8 {
    background-color: #f2540c !important;
}

#mainmenu li.color-9.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-9>a,
#mainmenu li.current-menu-item.color-9>a,
#menu a.current,
#mainmenu>li.color-9:hover,
#mainmenu li.sfHover.color-9 {
    background-color: #348207 !important;
}

#mainmenu li.color-10.current-menu-ancestor>a,
#mainmenu li.current_page_item.color-10>a,
#mainmenu li.current-menu-item.color-10>a,
#menu a.current,
#mainmenu>li.color-10:hover,
#mainmenu li.sfHover.color-10 {
    background-color: #c6a41b !important;
}

.theme_header_style_3 #mainmenu>li.current-menu-item>a,
.theme_header_style_3 #mainmenu>li>a,
.theme_header_style_3 #mainmenu>li.current-menu-ancestor>a,
.theme_header_style_5 #mainmenu>li.current-menu-item>a,
.theme_header_style_5 #mainmenu>li>a,
.theme_header_style_5 #mainmenu>li.current-menu-ancestor>a {
    background-color: #FFF !important;
    background: #fff !important;
    color: #222 !important;
}

.sf-top-menu li a,
#mainmenu li>a {
    font-family: Open Sans !important;
}

.tickerfloat,
.widget-title h2,
.email_subscribe_box h2,
.widget-title h2,
h3.widget-title span {
    font-family: Open Sans !important;
}

.detailholder.medium h3,
#ticker a.ticker_title,
.grid.caption_header h3,
ul.tabs1 li a,
ul.hover_tab_post_large li a,
h1,
h2,
h3,
h4,
h5,
h6,
.carousel_title,
.postnav a,
.pagination-more-grid div a,
.pagination-more div a,
ul.tabs li a,
#pageslide a,
.bbp-forum-title {
    font-family: Open Sans !important;
}

body,
p,
#search_block_top #search_query_top,
.tagcloud a,
.btn.default.read_more,
.widget_meta li,
.widget_archive li a,
.widget_rss li a,
.widget_recent_entries li a,
.widget_recent_comments li a,
.widget_pages li a,
.widget_categories li a,
.meta-list-small .post-date,
.view_counter_single {
    font-family: Hind !important;
}

.love_this_post_meta a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.single_post_title .single_meta_user .author_link,
.single_post_title .post-meta span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.dataTables_wrapper .row {
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {

    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 64.33333333%
    }

    .col-sm-6 {
        width: 49.88888888%
    }

    .col-sm-5 {
        width: 35.667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

.dataTables_paginate .pagination {
    float: right;
}

.page_error_404 h1 {
    font-weight: 800;
}

.widget.widget_categories .cat-item.cat-item-9 {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

    ul.tabs,
    ul.tabs1 {
        background-color: #F4F4F4 !important;
    }

    html ul.tabs li.active,
    html ul.tabs li.active a,
    html ul.tabs li.active a:hover,
    html ul.tabs1 li.active,
    html ul.tabs1 li.active a,
    html ul.tabs1 li.active a:hover {
        background: #005F92 !important;
    }
}

@media only screen and (max-width:767px) {

    ul.tabs,
    ul.tabs1 {
        background-color: #F4F4F4 !important;
    }

    html ul.tabs li.active,
    html ul.tabs li.active a,
    html ul.tabs li.active a:hover,
    html ul.tabs1 li.active,
    html ul.tabs1 li.active a,
    html ul.tabs1 li.active a:hover {
        background: #005F92 !important;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {

    ul.tabs,
    ul.tabs1 {
        background-color: #F4F4F4 !important;
    }

    html ul.tabs li.active,
    html ul.tabs li.active a,
    html ul.tabs li.active a:hover,
    html ul.tabs1 li.active,
    html ul.tabs1 li.active a,
    html ul.tabs1 li.active a:hover {
        background: #005F92 !important;
    }
}